<footer class="footer">
	<div class="container">
	<p>Copyright by:
		<br>
		Goran Janković
	</p>
		<a title="Find me on Facebook"
                 href="https://www.facebook.com/goran.jankovic.146"
                 target="_blank">
                <img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/crumpled-paper-icons-social-media-logos/110225-crumpled-paper-icon-social-media-logos-facebook-logo-square.png">
        </a>
        <a title="Find me on Github"
                 href="https://github.com/kapetan91"
                 target="_blank">
                <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png">
        </a>
        <a title="Find me on Linkedin"
                 href="https://www.linkedin.com/in/goran-jankovi%C4%87-0819b4155/"
                 target="_blank">
                <img src="http://safe.asn.au/Images/Web_Page_Images/Template/clear_gray_linkedin.png">
        </a>
	</div>
</footer>