$mobile-only: "only screen and (max-width : 768px)";

#footer {
	background-color: #b92b27;
	padding: 6px 0;
	line-height: 18px;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	width: 100%;
}


.container {
	background-color: #b92b27;
	height: 6vh;
	text-align: center;
}

p {
  font-weight: 300;
  font-size: 1rem;
  color: #fff;

}

img {
  height: 4rem;
  margin: 0 1rem;
  transition: transform 0.25s; 
  position: right;
}

img:hover {
  transform: scale(1.25); }

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
